{% extends 'layout.html' %}
{% block content %}
<div class="page-wrapper">
    <h3 class="section-font-one">Welcome to your profile, {{ user.username }}</h3>
    <div class="profile-sections">
        <div class="profile-no-border-section">
            <div class="profile-title-container">
                <h5 class="profile-title">Favorite gear</h5>
            </div>
            <div class="profile-content-container">
                {% for favorite in recent_gear_favorites %}
                <div class="card card-border my-2 pt-1 profile-card">
                    <a class="no-underline" href="{{ url_for('gear_bp.view_gear',db_id=favorite.id) }}">
                        <img class="card-img zoom-img max-img-size" src="{{ favorite.img }}">
                        <div class="card-body">
                            <h5 class="card-title text-center card-text">
                                {{ favorite.name }}
                            </h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if recent_gear_favorites == [] %}
            <h5 class="small-section-font">No trail pages favorited</h5>
            {% endif %}
        </div>
        <div class="profile-section">
            <div class="profile-title-container">
                <h5 class="profile-title">Favorite trails</h5>
            </div>
            <div class="profile-content-container">
                {% for favorite in recent_trail_favorites %}
                <div class="card card-border my-2 profile-card">
                    <a class="no-underline" href="{{ url_for('gear_bp.view_gear',db_id=favorite.id) }}">
                        <img class="card-img-top zoom-img img-fluid" src="{{ url_for('trail_bp.display_trail_pics', file_name=favorite.trail_page_pics[0].img) }}">
                        <div class="card-body">
                            <h5 class="card-title text-center card-text">
                                {{ favorite.name }}
                            </h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if recent_trail_favorites == [] %}
            <h5 class="small-section-font">No trail pages favorited</h5>
            {% endif %}
            {% if recent_trail_favorites != [] or recent_gear_favorites != [] %}
            <div class="view-all-links-big-screen">
                <div class="view-all-links-align">
                    <h5><a class="view-all-links no-underline" href="{{ url_for('user_profile_bp.view_favorites', user_id=user.id, sort_by='date') }}">All favorites...</a></h5>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="profile-section">
            <div class="profile-title-container">
                <h5 class="profile-title">Rated Photos</h5>
            </div>
            <div class="profile-content-container">
                {% for photo in recent_rated_photos %}
                <div class="card card-border my-2 profile-card">
                    <a class="no-underline" data-bs-toggle="modal" data-bs-target="#showRatedPhotoModal-{{recent_rated_photos.index(photo)}}">
                        <img class="card-img-top zoom-img img-fluid" src="{{ url_for('trail_bp.display_trail_pics', file_name=photo.rated_pic.img)  }}">
                        <div class="card-body">
                            <h5 class="card-title text-center card-text">
                                {{ photo.rated_pic.parent_trail_posts.name }}
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="modal fade" id="showRatedPhotoModal-{{recent_rated_photos.index(photo)}}" tabindex="-1" aria-labelledby="showRatedPhotoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="showRatedPhotoLabel">{{ photo.rated_pic.parent_trail_posts.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ url_for('trail_bp.display_trail_pics', file_name=photo.rated_pic.img)  }}" class="img-thumbnail">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm user-button" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if recent_rated_photos == [] %}
            <h5 class="small-section-font">No photos rated</h5>
            {% else %}
            <div class="view-all-links-big-screen">
                <div class="view-all-links-align">
                    <h5><a class="view-all-links no-underline" href="{{ url_for('user_profile_bp.view_rated_photos', user_id=user.id) }}">All rated photos...</a></h5>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="profile-section">
            <div class="profile-title-container">
                <h5 class="profile-title">Submitted Photos</h5>
            </div>
            <div class="profile-content-container">
                {% for photo in recent_submitted_photos %}
                <div class="card card-border my-2 profile-card">
                    <a class="no-underline" data-bs-toggle="modal" data-bs-target="#showSubmittedPhotoModal-{{recent_submitted_photos.index(photo)}}">
                        <img class="card-img-top zoom-img img-fluid" src="{{ url_for('trail_bp.display_trail_pics', file_name=photo.img)  }}">
                        <div class="card-body">
                            <h5 class="card-title text-center card-text">
                                {{ photo.parent_trail_posts.name }}
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="modal fade" id="showSubmittedPhotoModal-{{recent_submitted_photos.index(photo)}}" tabindex="-1" aria-labelledby="showSubmittedPhotoLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="showSubmittedPhotoLabel">{{ photo.parent_trail_posts.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ url_for('trail_bp.display_trail_pics', file_name=photo.img)  }}" class="img-thumbnail">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm user-button" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if recent_submitted_photos == [] %}
            <h5 class="small-section-font">No photos submitted</h5>
            {% else %}
            <div class="view-all-links-big-screen">
                <div class="view-all-links-align">
                    <h5 class=""><a class="view-all-links no-underline" href="{{ url_for('user_profile_bp.view_submitted_photos', user_id=user.id, sort_by='date') }}">All submitted photos...</a></h5>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="profile-no-border-section">
            <div class="profile-title-container">
                <h5 class="profile-title">User Gear Comments</h5>
            </div>
            <div class="profile-content-container">
                {% for comment in recent_gear_comments %}
                <div class="card card-border my-2 profile-card comment-card">
                    <a class="no-underline comment-box" href="{{ url_for('gear_bp.view_gear',db_id=comment.gear_id) }}">
                        <p class="body-font">{{ (comment.date_time_added|string).split()[0] }}:</p>
                        <div class="comment-text-box">
                            <p class="bold-body-font">{{ comment.text }}</p>
                        </div>
                        <h5 class="card-title text-center card-text comment-card-text">
                            {{ comment.parent_posts.name }}
                        </h5>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if recent_gear_comments == [] %}
            <h5 class="small-section-font">No gear comments submitted</h5>
            {% endif %}
        </div>
        <div class="profile-section">
            <div class="profile-title-container">
                <h5 class="profile-title">User Trail Comments</h5>
            </div>
            <div class="profile-content-container">
                {% for comment in recent_trail_comments %}
                <div class="card card-border my-2 profile-card comment-card">
                    <a class="no-underline comment-box" href="{{ url_for('trail_bp.view_trail',db_id=comment.trail_id) }}">
                        <p class="body-font">{{ (comment.date_time_added|string).split()[0] }}:</p>
                        <div class="comment-text-box">
                            {% if comment.text|length < 100 %}
                            <p class="bold-body-font">{{ comment.text }}</p>
                            {% else %}
                            <p class="bold-body-font">{{ comment.text[:99] }}...</p>
                            {% endif %}
                        </div>
                        <h5 class="card-title text-center card-text comment-card-text">
                            {{ comment.parent_posts.name }}
                        </h5>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% if recent_trail_comments == [] %}
            <h5 class="small-section-font">No trail comments submitted</h5>
            {% endif %}
            {% if recent_trail_comments != [] or recent_gear_comments != [] %}
            <div class="view-all-links-big-screen">
                <div class="view-all-links-align">
                    <h5><a class="view-all-links no-underline" href="{{ url_for('user_profile_bp.view_submitted_comments', user_id=user.id, sort_by='date') }}">All user comments...</a></h5>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="profile-avatar-section">
        <div class="avatar-title-image">
            <h4 class="profile-avatar-section-title">Your Avatar:</h4>
            <img class="profile-avatar" src="{{ user.email | gravatar }}">
        </div>
        <p class="bold-body-font">Our user avatars are provided by Gravatar. Your initial avatar was chosen at random, but you can customize it! Gravatar allows you to upload images to create an avatar that better represents you. It's totally free and can be used across all apps or websites affiliated with Gravatar. Click the link below if you'd like to create or edit your Gravatar avatar.</p>
        <div class="avatar-button-container">
            <a class="btn btn-lg user-button" href="https://en.gravatar.com/">Edit your avatar!</a>
        </div>
    </div>
</div>
{% endblock %}
