{% extends 'layout.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="profile-sections">
        <h3 class="section-font-one">{{ user.username }}'s gear photos</h3>
        <div class="profile-section">
            <div class="profile-title-container">
                <div class="section-title-filter-button-container">
                    <h5 class="profile-title">All submitted gear comments</h5>
                    <a class="btn btn-sm user-button dropdown-toggle"
                        role="button" id="gearCommentFilter"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        href="#">
                    Filter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="gearCommentFilter">
                        <div class="dropdown-item">
                            <a class="bold-body-font no-underline"
                               href="{{ url_for('MAKEFUNCTION') }}">
                                Date Submitted
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a class="bold-body-font no-underline"
                               href="{{ url_for('MAKEFUNCTION') }}">
                                Gear Item
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if gear_comments %}
            <div class="profile-sub-container profile-content-container">
                {% for comment in gear_comments %}
                <div class="card card-border my-2 profile-card comment-card">
                    <a class="no-underline comment-box" href="{{ url_for('gear_bp.view_gear',db_id=comment.gear_id) }}">
                        {% if date %}
                        <p class="body-font">{{ (comment.date_time_added|string).split()[0] }}:</p>
                        {% else %}
                        <p class="body-font">{{ comment.gear_id.name }}</p>
                        {% endif %}
                        <div class="comment-text-box">
                            <p class="bold-body-font">{{ comment.text }}</p>
                        </div>
                        <h5 class="card-title text-center card-text">
                            {{ comment.parent_posts.name }}
                        </h5>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h5 class="small-section-font">No gear comments submitted</h5>
            {% endif %}
        </div>
        <div class="profile-section">
            <div class="profile-title-container">
                <div class="section-title-filter-button-container">
                    <h5 class="profile-title">All submitted trail comments</h5>
                    <a class="btn btn-sm user-button dropdown-toggle"
                        role="button" id="trailCommentFilter"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        href="#">
                    Filter
                    </a>
                    <div class="dropdown-menu" aria-labelledby="trailCommentFilter">
                        <div class="dropdown-item">
                            <a class="bold-body-font no-underline"
                               href="{{ url_for('MAKEFUNCTION') }}">
                                Date Submitted
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a class="bold-body-font no-underline"
                               href="{{ url_for('MAKEFUNCTION') }}">
                                Trail Page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% if trail_comments %}
            <div class="profile-sub-container profile-content-container">
                {% for comment in trail_comments %}
                <div class="card card-border my-2 profile-card comment-card">
                    <a class="no-underline comment-box" href="{{ url_for('gear_bp.view_gear',db_id=comment.gear_id) }}">
                        {% if date %}
                        <p class="body-font">{{ (comment.date_time_added|string).split()[0] }}:</p>
                        {% else %}
                        <p class="body-font">{{ comment.trail_id.name }}</p>
                        {% endif %}
                        <div class="comment-text-box">
                            <p class="bold-body-font">{{ comment.text }}</p>
                        </div>
                        <h5 class="card-title text-center card-text">
                            {{ comment.parent_posts.name }}
                        </h5>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <h5 class="small-section-font">No gear comments submitted</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
