* {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 4em;
}

#wrapper {
    flex: 1;
    padding-top: 1.5em;
}

/*---------------SITE WIDE UTILITIES----------------*/
.page-wrapper {
    text-align: center;
}

.admin-button {
    background-color: #ff4444;
    color: #fefae0;
    text-transform: uppercase;
    trasition-duration: 0.5s;
    border-color: #ff4444;
    border-width: 2px
}

.admin-button:hover {
    background-color: #ff4444;
    color: #fefae0;
}

.admin-text {
    color: #ff4444;
    text-transform: uppercase;
    transition-duration: 0.5s;
    display: inline-block;
}

.admin-warning-text {
    color: #ff4444;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
}

.centered-body {
    text-align: center;
}

.no-underline, no-underline:hover {
    text-decoration: none;
    cursor: pointer;
}

.user-button {
    background-color: #606c38;
    color: #fefae0;
    text-transform: uppercase;
    border-color: #606c38;
    border-width: 2px;
}

.user-button:hover {
    background-color: #606c38;
    color: #fefae0;
}

.section-font-one {
    font-size: 35px;
    text-transform: uppercase;
    color: #bc6c25;
}

.section-font-two {
    font-size: 35px;
    text-transform: uppercase;
    color: #283618;
}

.small-section-font {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #bc6c25;
}

.background-color-white {
    background-color: #ffffff;
}

.section-background-two {
    background-color: #fefae0;
}

.body-font {
    color: #283618;
    line-height: 1.75em;
}

.bold-body-font {
    color: #283618;
    line-height: 1.75em;
    font-weight: bold;
}

.big-body-font {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #283618;
    line-height: 1.5em;
}

.paragraph-spacing {
    width: 75%;
    margin: auto;
    padding: 30px 0;
}

.dropdown-bg {
    background-color: #606c38;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: none;
}

.more-link {
    color: #bc6c25;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.inline-link {
    color: #bc6c25;
    transition-duration: 0.5s;
    cursor: pointer;
}

.more-link:hover, .inline-link:hover {
    color: #dda15e;
    cursor: pointer;
}

::placeholder {
    color: #283618;
    opacity: 0.3;
}

/*----------------------NAVBAR----------------------*/
.navbar {
    background-color: #606c38;
}

.navbar-text {
    color: #fefae0;
    text-transform: uppercase;
    transition-duration: 0.5s;
    display: inline-block;
}

.navbar-text:hover, admin-text:hover {
    color: #283618;
}

.nav-btn {
    color: #fefae0;
}

.logo-font {
    font-weight: bold;
    text-transform: uppercase;
    color: #dda15e;
    transition-duration: 0.5s;
}

.logo-font:hover {
    color: #283618;
}

.search-button {
    border-color: #f6f4d2;
    color: #f6f4d2;
}

.search-button:hover {
    background-color: #f6f4d2;
    color: #606c38;
    border-color: #606c38
}

/*------------------MAIN PAGE TOP-------------------*/
.title-font {
    font-size: 50px;
    font-weight: bold;
    cursor: default;
    color: #bc6c25;
}

.carousel-font {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    color: #fefae0;
    transition-duration: 0.5s;
}

.carousel-caption-font {
    display: inline-block;
    font-size: 19px;
    text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px -0.5px 0 #000;
    color: #fefae0;
    transition-duration: 0.5s;
}

.carousel-font:hover, carousel-caption-font:hover {
    color: #dda15e;
}

.carousel-main {
    max-width: 992px;
    margin: auto;
}

.carousel-container {
    display: flex;
    margin: auto;
}

.carousel-edges {
    overflow: hidden;
    height: 600px;
    opacity: 40%;
    flex: 1 1 0px;
}

.right-carousel-edge {
    transform: scaleX(-1);
}

.main-page-carousel-img {
  width: auto;
  max-height: 600px;
}

.main-carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/*-----------------MAIN PAGE CARDS------------------*/
.card-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #bc6c25;
    transition-duration: 0.5s;
}

.card-text:hover {
    color: #dda15e;
}

.view-all-links {
    color: #283618;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 0.5s;
}

.view-all-links:hover {
    color: #606c38;
}

.view-all-links-align {
    width: 33%;
    text-align: right;
    margin-top: 1em;
    margin-right: 4em;
}

.card-img {
    object-fit: contain;
    height: 25vw;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.zoom-img {
    transition: .5s;
}

.zoom-img:hover {
    transform: scale(1.05);
}

.card-border {
    border-color: #bc6c25;
    overflow: hidden;
    border-radius: 8px;
}

/*-----------------MAIN PAGE MIDDLE-----------------*/

/*----------------------FOOTER----------------------*/
.footer-background {
    background-color: #606c38;
}

.foot-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foot-list li {
    width: 100%;
    text-align: center;
}

.foot-connect {
    font-weight: bold;
    color: #fefae0;
    text-align: center;
}

.social-icon {
    color: #bc6c25;
    margin: auto 3px;
}

.copyright-background {
    background-color: #283618;
}

.copyright-text {
    color: #fefae0;
}

.foot-btn-font {
    font-size: 20px;
    color: #fefae0;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.foot-btn-font:hover {
    color: #283618;
}

/*------------------VIEW ALL GEAR-------------------*/
.gear-list-img {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 25vh;
    object-fit: contain;
    border-radius: 8px;
    border-style: solid;
    border-color: #bc6c25;
    border-width: thin;
}

/*-----------------VIEW ALL TRAILS------------------*/
.trail-list-img {
    display: inline-block;
    width: 100%;
    max-width: 250px;
    height: 25vh;
    object-fit: cover;
    border-radius: 8px;
    border-style: solid;
    border-color: #bc6c25;
    border-width: thin;
}

/*---------------VIEW ALL TRAILS/GEAR---------------*/
.listing-wrapper {
    margin: 2em 12vw;
}

.listing {
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    overflow: hidden;
    margin: 0.75em 0
}

.listing-border {
    border-bottom: 1px ridge #808080;
    margin-top: 30px;
}

.listing-pic-and-data {
    display: flex;
    padding-bottom: 3em;
}

.listing-link {
    margin: 0;
    height: 100%;
}

.listing-name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #bc6c25;
    transition-duration: 0.5s;
    display: inline-block;
}

.listing-name:hover {
    color: #dda15e;
}

.listing-info {
    font-size: 20px;
    text-transform: uppercase;
    color: #bc6c25;
}

h5.listing-info:nth-child(odd) {
    margin-bottom: 0;
    font-weight: bold;
}

.listing-data-and-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.listing-data {
    display: flex;
    justify-content: space-around;
}

.listing-description {
    height: 40%;
}

.listing-description-text {
    color: #bc6c25;
}

.listing-pic-container {
    width: 50%;
}

.listing-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bad-search-info {
    margin: 0 4em;
    padding: 0.5em 0 0;
}

/*-------------------SEARCH PAGE--------------------*/
.search-form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

.no-results-font {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
    color: #283618;
    text-transform: uppercase;
}

.search-field {
    margin-right: 0.5em;
    border-radius: 0.375em;
    border: 0.5px solid #dda15e;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: #283618;
}

.search-field:focus {
    outline: none;
}

.search-listing-container {
    display: flex;
    padding-bottom: 3em;
}

/*------------------VIEW GEAR PAGE------------------*/
.gear-img {
    object-fit: contain;
    max-width: 65vw;
    max-height: 55vh;
}

.gear-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
    margin-bottom: 2em;
}

.gear-pic-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 66%;
    margin: auto;
    text-align: center;
}

.gear-specs {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 8em;
    max-height: 80%
}

.gear-pic-and-specs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96vw;
    max-height: 75vh;
    margin-bottom: 3em;
}

.spec-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
}

.main-specs {
    font-size: 20px;
    color: #bc6c25;
}

.rating-number {
    font-size: 4em;
    font-weight: bold;
    color: #606c38;
}

.lg-favorite-button {
    margin-top: 1em;
    display: inline-block;
}

.sm-favorite-button {
    margin-top: 1em;
    display: none;
}

.price-button {
    width: 100%;
}

.company-names-and-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.company-name-and-button {
    display: flex;
    flex-direction: column;
    margin: 0 3em;
    flex: 1 1 0px;
    min-width: 20vw;
}

.company-link-name {
    font-weight: bold;
    color: #bc6c25;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

/*-----------------VIEW TRAIL PAGE------------------*/
.view-trail-body {
    margin-top: 2em;
    text-align: center;
}

.trail-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
    margin-bottom: 0.5em;
    text-align: center;
}

.trail-carousel-inner {
    width: 95vw;
    border-radius: 8px;
    overflow: hidden;
}

.trail-carousel-container {
    display: flex;
}

.trail-img-container {
    max-height: 600px;
    height: 500px;
    position: relative;
}

.trail-page-carousel-img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.trail-carousel-font {
    font-size: 0.75em;
    font-weight: bold;
    color: #fefae0;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

a.trail-carousel-font:hover {
    color: #dda15e;
}

.submit-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trail-carousel-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    top: auto;
}

.trail-ratings-dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating-and-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0.5em;
}

.trail-dropdown-bg {
    background-color: transparent;
}

.trail-dropdown-btn {
    background-color: transparent;
    color: #fefae0;
    text-transform: uppercase;
    border-color: #fefae0;
    border-width: 1px;
}

.trail-dropdown-btn:hover {
    background-color: #606c38;
    border-color: #606c38;
}

.trail-info-and-links {
    max-width: 95%;
    margin: 1em auto;
}

.photo-submitted-msg {
    margin: 1em auto 0;
    max-width: 75%;
    text-align: center;
}

.trail-info {
    display: flex;
    justify-content: space-around;
    margin: 1.5em auto;
}

.trail-info-or-link {
    margin: 0.5em;
}

.trail-attribute-top {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
}

.trail-attribute-btm {
    font-size: 22px;
    text-transform: uppercase;
    color: #bc6c25;
}

.trail-length-display, .trail-elevation-display, .trail-difficulty-display {
    width: 30%;
    margin: auto;
}

.admin-edit-button {
    margin: 2em auto 1em;
}


/*---------------VIEW GEAR/TRAIL PAGE---------------*/
.description-container {
    margin: 2em 6em;
}

.description-text {
    color: #bc6c25;
}

.comment-submit-btn {
    margin-top: 1em;
}

.comment-font {
    color: #283618;
}

.comment-edit-btn {
    background-color: #dda15e;
    color: #fefae0;
    text-transform: uppercase;
    trasition-duration: 0.5s;
}

.description-lg {
    display: block;
}

.description-sm {
    display: none;
}

/*-------------USER PROFILE DASHBOARD---------------*/
.profile-home-sections {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 95%;
    margin: 1em auto;
    text-align: left;
}

.profile-section {
    padding: 2em 0;
    border-bottom: 1px ridge #808080;
}

.profile-trail-section {
    padding: 0.5em 0;
}

.profile-title-container {
    width: 50%;
    text-align: left;
    margin-bottom: 1em;
    margin-left: 4em;
}

.profile-title {
    color: #283618;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    transition-duration: 0.5s;
    line-height: 2em;
    margin-right: 1em;
}

.profile-content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.profile-card {
    margin: 0 0.5em;
    width: 35%;
}

.comment-card {
    height: 35vh;
    background-color: #fefae0;
    padding: 0.5em 0;
}

.comment-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-date {
    margin-left: 1em;
}

.comment-date-parent p {
    margin-bottom: 0;
    margin-left: 2em;
}

.comment-text-box {
    height: 80%;
    width: 85%;
    margin: 0 auto 0.25em;
}

.comment-parent-pairing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-parent-post {
    margin-left: 1em;
    padding_top: 0;
}

.profile-avatar-section {
    margin-top: 1em;
    width: 80%;
    margin: 1em auto 2em;
}

.avatar-title-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.profile-avatar-section-title {
    color: #283618;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    transition-duration: 0.5s;
    line-height: 2em;
}

.profile-avatar {
    width: 15%;
}

.avatar-button-container {
    text-align: center;
}

.profile-how-to-container {
    width: 50%;
    margin: 0 auto;
}

.profile-how-to {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.profile-dropdown-example {
    background-color: transparent;
    color: #000;
    text-transform: uppercase;
    border-color: #000;
    border-width: 2px;
    margin: 0 0.25em;
}

.profile-submit-example {
    font-size: 0.7em;
    margin: 0 0.25em;
}

/*------------------PROFILE MENUS-------------------*/
.profile-sub-container {
    flex-wrap: wrap;
    row-gap: 2em;
}

.favorite-card {
    width: 20%;
    height: 35vh;
    margin: 0 0.5em;
}

.favorite-card-img-top {
    width: 100%;
    object-fit: cover;
    height: 25vh;
}

.favorite-card-gear-img {
    width: 100%;
    object-fit: contain;
    height: 25vh;
}

.favorite-card-name {
    max-height: 20%;
    padding-top: 2em;
}

.favorite-card-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #bc6c25;
    transition-duration: 0.5s;
}

.section-title-filter-button-container {
    display: flex;
    align-items: center;
}

.section-title-filter-button-container h5 {
    margin-bottom: 0
}

/*-----------------ADMIN DASHBOARD------------------*/
.admin-body {
    text-align: center;
    margin: 1em auto 2em;
}

.admin-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
    margin-bottom: 1em;
}

.admin-btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 1.5em;
    border-bottom: solid 0.5px #080808;
}

.admin-btn-group .btn {
    width: 33%;
    margin: 0.5em auto;
}

.admin-unapproved-photo-group {
    margin: 2em auto 2em;
    padding-bottom: 1.5em;
    border-bottom: solid 0.5px #080808;
}

.admin-unapproved-usernames-group {
    padding-bottom: 1em;
}

.admin-section-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
    margin-bottom: 0.75em;
}

.admin-section-content {
    font-size: 20px;
    text-transform: uppercase;
    color: #bc6c25;
}

.admin-link-text {
    color: #283618;
}

.admin-link-text:hover {
    color: #606c38;
}

.submitted-username {
    color: #283618;
    font-weight: bold;
}

.submitted-user-name-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

.submitted-username, .submitted-username-button {
    width: 25%;
    margin: 0 3px;
}

.submitted-username-button .btn {
    width: 100%;
}

/*-------------------SUBMITTED PIC------------------*/
.submitted-pic-list-entry {
    max-width: 90vw;
    margin: 0 auto 2em;
    padding-bottom: 2em;
    border-bottom: .5px solid #808080;
}

.submitted-pic-container {
    margin-bottom: 1em;
}

.submitted-pic {
    width: 100%;
    max-height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

.submit-buttons {
    display: flex;
    justify-content: space-around;
    margin: 2.5em auto 1em;
}

/*--------------------DEAD LINKS--------------------*/
.dead-link-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    width: 95vw;
}

.dead-link-left {
    display: flex;
    justify-content: center;
    width: 60%;
}

.dead-link-right {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.dead-link-info .admin-link-text {
    margin-right:
}

.dead-link-item-name {
    color: #283618;
    font-weight: bold;
    margin-right: 0.5em;
}

/*--------------------FORM PAGES--------------------*/
.form-page-wrapper {
    text-align: center;
}

.ck-container {
    margin-top: 2em;
    max-width: 768px;
}

.non-bs-form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
}

.form-data-pairing {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*----------------USERNAME FORM PAGE----------------*/
.form-title {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bc6c25;
    margin-bottom: 1em;
}

.form-font {
    color: #283618;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.form-label {
    margin-right: 0.5em;
    margin-bottom: 0;
}

.username-button {
    margin: 0.5em auto 1.5em;
}

/*--------------------LOGIN FORM--------------------*/
.login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------MEDIA QUERIES-------------------*/
@media all {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display:block }
}

@media (min-width:992px) {
    body {
        padding-top: 6em;
    }
}

@media (max-width:576px) {
    body {
        padding-top: 3em;
    }
}

/*-------------------MEDIA NAVBAR-------------------*/
@media (min-width:992px) {
    .right-search {
        text-align: right;
    }
}

/*---------------MEDIA MAIN PAGE TOP----------------*/
@media (max-width:768px) {
    .title-font {
        font-size: 40px;
    }
}

@media (max-width:576px) {
    .title-font {
        font-size: 30px;
        margin: auto 20px;
    }
}

@media (min-width:920px) {
    .carousel-inner {
        width: 920px;
    }
}

@media (max-width:920px) {
    .carousel-edges {
        display: none;
    }
}

@media (max-width:768px) {
    .carousel-font {
        font-size: 35px;
    }
}

@media (max-width:576px) {
    .carousel-font {
        font-size: 25px;
    }
}

/*--------------MEDIA MAIN PAGE CARDS---------------*/
@media (min-width:576px) {
    .card-display {
        height: 100%;
    }
}

@media (min-width:577px) {
    .view-all-links-big-screen {
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width:576px) {
    .view-all-links-align {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width:450px) {
    .section-font-one, .section-font-two {
        font-size: 25px;
    }
    .card-text {
        font-size: 18px;
    }
}

/*--------------MEDIA MAIN PAGE MIDDLE--------------*/
@media (max-width:768px) {
    .section-font {
        font-size: 30px;
    }
}

@media (max-width:576px) {
    .section-font {
        font-size: 25px;
    }
}

/*-------------------MEDIA FOOTER-------------------*/
@media (min-width:576px) and (max-width:767.99px) {
    .foot-list li {
        width: 50%;
    }
    .foot-list li:nth-child(even) {
        text-align: right;
        padding-right: 75px;
    }
    .foot-list li:nth-child(odd) {
        text-align: left;
        padding-left: 75px;
    }
}

@media (min-width:768px) {
    .foot-list li {
        width: 33%;
        text-align: center;
    }
    .foot-list li:nth-child(3n + 1) {
        text-align: left;
        padding-left: 150px;
    }

    .foot-list li:nth-child(3n + 3) {
        text-align: right;
        padding-right: 150px;
    }
}

/*---------------MEDIA VIEW ALL GEAR----------------*/


/*--------------MEDIA VIEW ALL TRAILS---------------*/


/*------------MEDIA VIEW ALL GEAR/TRAILS------------*/
@media (min-width:1100px) {
    .listing {
        margin-left: 6em;
        margin-right: 6em;
    }
    .listing-pic-container {
        width: 60%;
    }
    .listing-data-and-description {
        width: 100%;
    }
    .listing-data {
        flex-wrap: wrap;
    }
    .listing-pair {
        padding: 0 1em;
    }
    .listing-data:nth-child(3) {
        width: 100%;
    }
    .listing-info {
        justify-content: center;
    }
}

@media (max-width:1100px) {
    .listing-description {
        display: none;
    }
    .listing-data {
        flex-direction: column;
    }
    .listing-pic-and-data {
        align-items: center;
    }
}

@media (max-width:768px) and (min-width:581px) {
    .listing-data {
        max-width: 66%;
    }
}

@media (max-width:768px) {
    .listing-info {
        font-size: 17px;
    }
}

@media (min-width: 580px) {
    .listing-pic-container {
        margin-right: 2em;
    }
}

@media (max-width:580px) {
    .listing-pic-and-data {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }
    .listing-pic-container {
        width: 100%;
    }
    .listing {
        text-align: center;
        max-height: 75vh;
    }
    .listing-data {
        margin-top: 1em;;
    }
}

/*----------------MEDIA SEARCH PAGE-----------------*/
@media (max-width:1100px) {
    .search-listing-container {
        align-items: center;
    }
}

@media (max-width:580px) {
    .search-listing-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }
}

/*-----------------MEDIA VIEW GEAR------------------*/
@media (min-width:1100px) {
    .gear-pic-and-specs {
        max-width: 900px;
        margin: 0.5em auto 3em;
        justify-content: center;
    }
    .gear-img {
        max-height: 60vh;
        max-width: 40vw;
    }
    .gear-specs {
        margin-top: 6em;
    }
    .gear-title {
        width: 90vw;
    }
}

@media (max-width:768px) {
    .gear-pic-and-specs {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;
        margin-top: 1.5em;
    }
    .gear-specs {
        flex-direction: row;
        margin-top: 2em;
        justify-content: space-evenly;
        width: 85vw;
    }
    .rating-number {
        font-size: 2.5em;
    }
    .gear-description-container {
        margin: 4em 4em;
    }
    .gear-rating-display {
        width: 100%;
    }
    .gear-rating {
        text-align: center;
    }
    .gear-weight-display, .gear-dimensions-display {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gear-dimensions-display {
        padding-left: 1em;
        padding-right: 1em;
    }
    .gear-weight, .gear-dimensions, .gear-rating-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gear-dimensions {
        text-align: center;
    }
    .gear-img {
        max-width: 75vw;
        max-height: 40vh;
    }
    .gear-title {
        font-size: 30px;
    }
    .lg-favorite-button {
        display: none;
    }
    .sm-favorite-button {
        display: inline-block;
    }
}

@media (min-width:301px) and (max-width:768px) {
    .gear-rating-display, .gear-weight-display {
        position: relative;
    }
    .gear-weight:after {
        content: "";
        background: #808080;
        position: absolute;
        bottom: 25%;
        left: 0;
        height: 50%;
        width: 1.5px;
    }
    .gear-rating:after {
        content: "";
        background: #808080;
        position: absolute;
        bottom: 25%;
        right: 0;
        height: 50%;
        width: 1.5px;
    }
}

@media (max-width:540px) {
    .rating-number {
        font-size: 1.5em;
    }
    .gear-specs {
        width: 90vw;
    }
    .spec-title {
        font-size: 18px;
    }
    .main-specs {
        font-size: 16px;
    }
    .company-names-and-links {
        flex-direction: column;
    }
    .company-name-and-button {
        margin-top: 1.5em;
    }
    .gear-description-container {
        margin: 3em 3em;
    }
    .gear-img {
        max-width: 60vw;
        max-height: 40vh;
    }
    .gear-title {
        font-size: 22px;
        margin-bottom: 1.5em;
    }
}

@media (max-width:300px) {
    .gear-pic-and-specs {
        padding-top: 1em;
        max-height: 95vh;
    }
    .gear-specs {
        max-width: 65vw;
        flex-direction: column;
    }
    .spec-title {
        font-size: 16px;
    }
    .main-specs {
        font-size: 14px;
    }
    .gear-description-container {
        margin: 2em 2em;
    }
    .gear-dimensions-display {
        padding: 0.5em 0;
        border-top: .5px solid #808080;
        border-bottom: .5px solid #808080;
    }
    .gear-weight-display {
        margin-top: 0.5em;
    }
    .gear-img {
        max-width: 60vw;
        max-height: 30vh;
    }
}

/*-------------------VIEW TRAILS--------------------*/
@media (max-width:920px) {
    .trail-img-container {
        max-height: 58vh;
    }
}

@media (min-width:541px) {
    .trail-difficulty-display, .trail-length-display {
        position: relative;
    }
    .trail-difficulty:after {
        content: "";
        background: #808080;
        position: absolute;
        bottom: 25%;
        right: 100%;
        height: 50%;
        width: 1.5px;
    }
    .trail-length:after {
        content: "";
        background: #808080;
        position: absolute;
        bottom: 25%;
        left: 100%;
        height: 50%;
        width: 1.5px;
    }
}

@media (max-width:540px) {
    .trail-img-container {
        max-height: 35vh;
    }
    .trail-info {
        flex-direction: column;
        max-width: 65vw;
    }
    .trail-elevation-display {
        padding: 0.5em 0;
        border-top: .5px solid #808080;
        border-bottom: .5px solid #808080;
    }
    .trail-length-display, .trail-elevation-display, .trail-difficulty-display {
        width: 80%;
    }
}

/*--------------MEDIA VIEW GEAR/TRAILS--------------*/
@media (max-width:768px) {
    .paragraph-spacing {
        width: 85%;
    }
    .description-lg {
        display: none;
    }
    .description-sm {
        display: block;
    }
}

/*---------------MEDIA USER PROFILE-----------------*/
@media (max-width: 540px) {
    .profile-title {
        margin: 0.5em 1em 0;
    }
    .profile-title-container {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .profile-title {
        margin: 0;
    }
    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2em;
        border-bottom: 1px ridge #080808;;
    }
    .profile-sections {
        text-align: center;
    }
    .profile-content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .profile-card {
        width: 90%
    }
    .view-all-links-align {
        margin: 0.5em auto 0;
    }
}

/*--------------MEDIA ADMIN DASHBOARD---------------*/
@media (max-width:1100px) {
    .admin-btn-group .btn {
        width: 50%;
        margin: 0.5em auto;
    }
}

/*-----------------MEDIA DEAD LINKS-----------------*/
@media (max-width:768px) {
    .dead-link-info {
        flex-direction: column;
        margin-top: 2em;
        padding-bottom: 1em;
        border-bottom: .5px solid #808080;
    }
    .dead-link-left {
        flex-direction: column;
    }
    .dead-link-right {
        margin-top: 1em;
        flex-direction: column;
        width: 50%;
    }
    .dead-link-right .btn {
        margin: 0.5em auto;
        width: 75%;
    }
}

@media (max-width:540px) {
    .dead-link-right .btn {
        width: 100%;
    }
}

/*-----------------MEDIA FORM PAGES-----------------*/
@media (max-width:990px) {
    .non-bs-form-container {
        width: 65%;
    }
}

@media (max-width:768px) {
    .non-bs-form-container {
        width: 80%;
    }
}

@media (max-width:540px) {
    .form-data-pairing {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2em;
    }
    .non-bs-form-container {
        width: 90%;
    }
}

/*----------------COLOR REFERENCE-------------------*/
/*
light green = color: #606c38;

dark green = color: #283618;

very light peach = color: #fefae0;

mild clay = color: #dda15e;

bold clay = color: #bc6c25;
*/