button {
    background-color: #f6f4d2;
}

.site-color {
    color: #f6f4d2;
}

.site-color-two {
    color: #606c38
}

.navbar-color {
    background-color: #606c38;
}

.gear-img {
    width: 65%;
    height: 100%;
    object-fit: contain;
}

.gear-pic-div {
    margin-left: 3em;
    width: 70%;
    height: 24em;
}

.card-img {
    object-fit: contain;
    height: 25vw;
}

.h1-color {
    color: #606c38;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    color: #606c38;
}

.carousel-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
}

.search-button {
    border-color: #f6f4d2;
    color: #f6f4d2;
}

.search-button:hover {
    background-color: #f6f4d2;
    color: #606c38;
    border-color: #6063c8
}

.carouselImage img {
  width: auto;
  height: 600px;
  max-height: 600px;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.header {
    margin: 0 auto
}

@media all {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display:block }
}
