.carouselImage img {
  width: auto;
  height: 600px;
  max-height: 600px;
}

.gear-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    margin: 0 auto
}

@media all {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .dropdown-menu{ display:block }
}
