{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid text-center mt-3">
    <div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
        <div class="carousel-inner">
            <div class="carousel-item active carouselImage">
                <img class="d-block w-100" src="{{ url_for('home_bp.display_main_carousel_pics', file_name='home_page_pic_1.jpg') }}" alt="First slide">
                <div class="carousel-content" >
                    <h2><a class="no-underline site-color-one" href="{{  url_for('auth_bp.login')  }}">Join Us in the Outdoors</a></h2>
                </div>
            </div>
            <div class="carousel-item carouselImage">
                <img class="d-block w-100" src="{{ url_for('home_bp.display_main_carousel_pics', file_name='home_page_pic_2.jpg') }}" alt="Second slide">
                <div class="carousel-content" >
                    <h2><a class="no-underline site-color-one" href="{{ url_for('gear_bp.view_all_gear') }}">Gearing Up for the Great Outdoors</a></h2>
                </div>
            </div>
            <div class="carousel-item carouselImage">
                <img class="d-block w-100" src="{{ url_for('home_bp.display_main_carousel_pics', file_name='home_page_pic_3.jpg') }}" alt="Third slide">
                <div class="carousel-content" >
                    <h2><a class="no-underline site-color-one" href="{{ url_for('trail_bp.view_all_trails') }}">Finding the Right Trail for You</a></h2>
                </div>
            </div>
            <div class="carousel-item carouselImage">
                <img class="d-block w-100" src="{{ url_for('home_bp.display_main_carousel_pics', file_name='home_page_pic_4.jpg') }}" alt="Fourth slide">
                <div class="carousel-content" >
                    <h2><a class="no-underline site-color-one" href="{{ url_for('home_bp.about') }}">Learn About Western Montana</a></h2>
                </div>
            </div>
        </div>
      <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1 class="mt-5 site-color-two text-center">A Western Montana Hiking Guide</h1>

<div class="mt-5">
    <h4 class="site-color-two">Recent Trail Reviews</h4>
    <div class="row gx-3">
        {% for trail in recent_trails %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-fluid" src="{{ url_for('trail_bp.display_trail_pics', file_name=trail.trail_page_pics[0].img) }}">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a class="no-underline site-color-two" href="{{ url_for('trail_bp.view_trail',db_id=trail.id) }}">{{ trail.name }}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="mt-5">
    <h4 class="site-color-two">Recent Gear Reviews</h4>
    <div class="row gx-3">
        {% for gear in recent_gear %}
        <div class="col-sm-4">
            <div class="card my-2">
                    <img class="card-img mt-2" src="{{ gear.img_url }}">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a class="no-underline site-color-two" href="{{ url_for('gear_bp.view_gear',db_id=gear.id) }}">{{ gear.name }}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
