{% include "header.html" %}


<h1>Welcome to Placeholder</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if logged_in: %}
  <h3>Hi {{ current_user.username }}!</h3>
{% endif %}

<p>If you love reading about gear, camp sites, trails, and the outdoors, you've come to the right place!</p>

<div>
    <h3>Trail Reviews</h3>
    <ul>
        {% for trail in all_trails %}
        <li><a href="{{ url_for('trail_bp.view_trail', db_id=trail.id) }}">{{trail.name}}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="mt-5">
    <h3>Gear Reviews</h3>
    <ul>
        {% for gear in all_gear %}
        <li><a href="{{ url_for('gear_bp.view_gear',db_id=gear.id) }}">{{gear.name}}</a></li>
        {% endfor %}
    </ul>

</div>


{% include "footer.html" %}