{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

{% if current_user.is_authenticated: %}
  <h3>Hi {{ current_user.username }}!</h3>
{% endif %}

<div class="container-fluid text-center">
    <img src="{{ gear.img_url }}" class="img-fluid rounded img-size mb-2">
    <h2>{{ gear.name.title() }}</h2>
    <div class="row mt-3">
        <div class="col-sm-4 align-right">
            <h5>Rating: {{ gear.rating }}/10</h5>
        </div>
        <div class="col-sm-4">
            <h5>Category: {{ gear.category }}</h5>
        </div>
        <div class="col-sm-4 align-left">
            <a href="#"
               target="_blank"><h5>Check availability of this item.</h5></a>
        </div>
    </div>
    <div class="mt-5">
            {{ gear.review }}
    </div>
</div>

<!-------------Comments-------------->
<div class="container-fluid">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='comment_text') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    <div class="col-lg-8 col-md-10 mx-auto comment">
        <ul>
            {% for comment in gear.comments %}
            <li>
    <!--            need to add avatar here   -->
                <div>{{ comment.text|safe }}</div>
                <span>   -{{ comment.commenter.username }}</span>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
{% include "footer.html" %}