{% import "bootstrap/wtf.html" as wtf %}
{% extends 'layout.html' %}

{% block content %}
<div class="container form-page-wrapper">
    <h2 class="mb-4 mt-5 section-font-one">Contact Us</h2>
    <h6 class="body-font mb-3">Thanks for reaching out. We'll respond as soon as we can.</h6>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='message') }}
    <form method="POST" action="{{ url_for('contact_bp.contact') }}">
        {{ form.csrf_token }}
        <div class="non-bs-form-container">
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.name.label }}:</span>
                {{ form.name }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.email.label }}:</span>
                {{ form.email }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.subject.label }}:</span>
                {{ form.subject }}
            </div>
        </div>
        <div class="container-fluid ck-container mb-3">
            <span class="form-font form-label">{{ form.message.label }}:</span>
            {{ form.message }}
        </div>
        <input class="btn btn-sm user-button username-button" type="submit" value="Submit">
    </form>
</div>
{% endblock %}