<div class="footer-background pt-5 pb-3">
    <div>
        <h3 class="text-center logo-font"><a class="logo-font no-underline" href="{{ url_for('home_bp.home') }}">Tamarack Treks</a></h3>
        <div>
            <ul class="mb-3 list-unstyled foot-list">
                <li class="footer-item"><a class="no-underline foot-btn-font" href="{{ url_for('gear_bp.view_all_gear') }}">Gear</a></li>
                <li class="footer-item"><a class="no-underline foot-btn-font" href="{{ url_for('trail_bp.view_all_trails') }}">Trails</a></li>
                <li class="footer-item"><a class="no-underline foot-btn-font" href="{{ url_for('contact_bp.contact') }}">Contact</a></li>
                <li class="footer-item"><a class="no-underline foot-btn-font" href="#">Western MT</a></li>
                <li class="footer-item"><a class="no-underline foot-btn-font" href="{{ url_for('home_bp.about') }}">About</a></li>
                <li class="footer-item"><a class="no-underline foot-btn-font" href="#">Community</a></li>
            </ul>
        </div>
        <h6 class="foot-connect">Get connected</h6>
        <div class="text-center">
            <a href="#"><span class="social-icon fa-lg fab fa-twitter"></span></a>
            <a href="#"><span class="social-icon fa-lg fab fa-facebook-f"></span></a>
            <a href="#"><span class="social-icon fa-lg fab fa-instagram"></span></a>
            <a href="#"><span class="social-icon fa-lg fas fa-envelope"></span></a>
        </div>
    </div>
</div>
<div class="text-center copyright-background pt-3 pb-2">
    <p class="copyright-text">Copyright &copy; Doug Heinan 2022 - {{ year }}.</p>
    <p class="copyright-text">Site design and build by Doug Heinan</p>
</div>