<div class="background-color-one pt-5 pb-3">
    <div class="text-center">
        <h3 class="logo-font">Tamarack Treks</h3>
        <div class="container">
            <ul class="row mb-3 foot-list list-unstyled">
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="{{ url_for('gear_bp.view_all_gear') }}">Gear</a></li>
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="{{ url_for('trail_bp.view_all_trails') }}">Trails</a></li>
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="{{ url_for('contact_bp.contact') }}">Contact</a></li>
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="#">About Western Montana</a></li>
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="{{ url_for('home_bp.about') }}">About This Blog</a></li>
                <li class="foot-btn-font col-sm-6 col-md-4 my-1"><a class="no-underline site-color-three" href="#">Community</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center background-color-two pt-3 pb-2">
    <p class="site-color-three">Copyright &copy; Doug Heinan 2022 - {{ year }}.</p>
    <p class="site-color-three">Site design and build by Doug Heinan</p>
</div>
