{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<h2>{{ h_two }}</h2>
<p>{{ p_tag }}</p>
<div class="container">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name=text_box) }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit_button": "success"}) }}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

{% include "footer.html" %}
{% endblock %}