<div>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand logo-font" href="/">Tamarack Treks</a>
            <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated: %}
                    <li class="dropdown">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text dropdown-toggle"
                            id="userNavDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            Hi {{ current_user.username }}!
                        </a>
                        <ul class="dropdown-menu nav-dropdown" aria-labelledby="userNavDropdown">
                            <li>
                                <a class="dropdown-item navbar-text" href="{{ url_for('user_profile_bp.user_profile_dashboard', user_id=current_user.id) }}">
                                    User Profile
                                </a>
                            </li>
                            {% if current_user.is_admin %}
                            <li>
                                <a class="dropdown-item admin-button" href="{{ url_for('admin_bp.admin_dashboard') }}">
                                    Admin Dashboard
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item navbar-text"
                                   href="{{ url_for('auth_bp.logout') }}">Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% else: %}
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text"
                           href="{{ url_for('auth_bp.login') }}">Login/Sign Up</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text"
                           href="{{ url_for('home_bp.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text"
                           href="{{ url_for('gear_bp.view_all_gear') }}">Gear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text"
                           href="{{ url_for('trail_bp.view_all_trails') }}">Trails</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 navbar-text disabled"
                           href="#">Camping</a>
                    </li>
                </ul>
                <form method="POST" action="{{ url_for('search_bp.search') }}" class="d-flex ms-auto">
                    {{ form.hidden_tag() }}
                    <input class="form-control me-2" type="search"
                           placeholder="Search" aria-label="Search" name="searched">
                    <button class="btn my-2 my-sm-0 search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>