{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
    <h2 class="mb-4">Sign in!</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h5>{{ message }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {{ wtf.quick_form(form, novalidate=True, button_map={"submit_button": "success"}) }}
    <p class="mt-3">Not yet a member?
        <a href="{{ url_for('auth_bp.sign_up') }}">Sign Up!</a>
    </p>
    <p class="mt-3">Forgot your username or password?
        <a href="{{ url_for('auth_bp.password_recovery') }}">Click here.</a>
    </p>

</div>


{% include "footer.html" %}
{% endblock %}
