{% import "bootstrap/wtf.html" as wtf %}
{% extends 'layout.html' %}

{% block content %}
<div class="container form-page-wrapper">
    <h2 class="mb-4 mt-5 section-font-one">Forgot your username?</h2>
    <h6 class="body-font mb-3">Enter your email and we'll send you a reminder.</h6>
    <form method="POST" action="{{ url_for('contact_bp.username_recovery') }}">
        {{ form.csrf_token }}
        <div class="form-container">
            <span class="form-font form-label">{{ form.email.label }}:</span>
            {{ form.email }}
        </div>
        <input class="btn btn-sm user-button username-button" type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}