{% import "bootstrap/wtf.html" as wtf %}
{% extends 'layout.html' %}

{% block content %}

<div class="gear-pic-and-specs">
    <div class="gear-pic-and-title">
        <h3 class="gear-title">{{ gear.name.title() }}</h3>
        <img class="gear-img" src="{{ gear.img }}">
    </div>
    <div class="gear-specs">
        <div class="gear-rating-display">
            <div class="gear-rating">
                <h5 class="spec-title">Rating:</h5>
                <h5 class="main-specs"><span class="rating-number">{{ gear.rating }}</span>/10</h5>
            </div>
        </div>
        <div class="gear-dimensions-display">
            <h5 class="spec-title">Dimensions:</h5>
            <div class="gear-dimensions">
                <h5 class="main-specs">{{ gear.dimensions.split("|")[0] }}</h5>
                <h5 class="main-specs">{{ gear.dimensions.split("|")[1] }}</h5>
            </div>
        </div>
        <div class="gear-weight-display">
            <h5 class="spec-title">Weight:</h5>
            <div class="gear-weight">
                <h5 class="main-specs">{{ gear.weight.split("|")[0] }}</h5>
                <h5 class="main-specs">{{ gear.weight.split("|")[1] }}</h5>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div>
            <a href="{{url_for('user_profile_bp.add_favorite',
            user_id=current_user.id, gear_trail=gear.gear_trail,
            favorite_id=gear.id)}}"
               class="btn btn-sm user-button lg-favorite-button">
                Favorite this page
            </a>
        </div>
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
    <div>
        <a href="{{url_for('user_profile_bp.add_favorite',
        user_id=current_user.id, gear_trail=gear.gear_trail,
        favorite_id=gear.id)}}"
           class="btn btn-sm user-button sm-favorite-button">
            Favorite this page
        </a>
    </div>
    {% endif %}
</div>
<div class="container-fluid">
    <div class="section-background-two">
        <div class="paragraph-spacing">
            <p class="body-font description-lg">{{ gear.description }}</p>
            <p class="body-font description-sm">{{ gear.description[:400] }}<span><a class="more-link" data-bs-toggle="modal" data-bs-target="#trailDescriptionModal"> ...more</a></span></p>
        </div>
    </div>
    <div class="company-names-and-links">
        {% for company in info %}
            {% if info[company]["price"] != "" %}
            <div class="company-name-and-button">
                <h6 class="company-link-name">
                    {{ company }}:
                </h6>
                <a class="btn user-button price-button" href="{{ info[company]['link'] }}" target="_blank">
                    {{ info[company]["price"] }}
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    {% if current_user.is_admin %}
    <div class="container mb-3 mt-5 text-center">
        <a class="btn admin-button" href="{{ url_for('admin_bp.edit_gear', gear_id=gear.id) }}">
            Admin: Edit gear description!
        </a>
    </div>
    {% endif %}

<!-------------Comments-------------->
<div class="container-fluid ck-container">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='comment_text') }}
    <form method="POST" action="{{ url_for('gear_bp.view_gear', db_id=gear.id) }}">
        {{ form.csrf_token }}
        {{ form.comment_text.label }}
        {{ form.comment_text }}
        <input class="btn user-button comment-submit-btn" type="submit" value="Submit">
    </form>

    <div class="col-lg-8 col-md-10 mx-auto comment mt-4">
        <ul>
            {% for comment in gear.gear_comments %}
            <li>
                <div>
                    <img src="{{ comment.commenter.email | gravatar }}">
                </div>
                <div>
                    {% if comment.deleted_by %}
                        <p>This comment has been deleted by {{ comment.deleted_by }}</p>
                    {% else %}
                        {{ comment.text|safe }}
                    {% endif %}
                </div>
                <span>
                    {% if current_user.username_approved %}
                    -{{ comment.commenter.username }}
                    {% else %}
                    -temp_user_{{ current_user.id }}
                    {% endif %}
                </span>
                <div>
                    {% if comment.commenter_id == current_user.id and not comment.deleted_by %}
                    <span>
                        <a
                            class="btn comment-edit-btn mt-3"
                            href="{{ url_for('gear_bp.edit_gear_comment', comment_id=comment.id, gear_id=gear.id) }}">
                                Edit Post
                        </a>
                    </span>
                    <span>
                        <a
                            class="btn comment-edit-btn mt-3"
                            href="{{ url_for('gear_bp.user_delete_gear_comment', comment_id=comment.id, gear_id=gear.id) }}">
                                Delete Post
                        </a>
                    </span>
                    {% endif %}
                    {% if current_user.is_admin and not comment.deleted_by %}
                    <span>
                        <a
                            class="btn admin-button mt-3"
                            href="{{ url_for(
                            'gear_bp.admin_delete_gear_comment',
                            comment_id=comment.id,
                            admin_id=current_user.id,
                            gear_id=gear.id) }}">
                                Admin Delete
                        </a>
                    </span>
                    {% endif %}
                </div>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
