{% import "bootstrap/wtf.html" as wtf %}
{% extends 'layout.html' %}

{% block content %}

{% if current_user.is_authenticated: %}
    <div class="header">
        <h3 class="mb-5 mt-3">Hi {{ current_user.username }}!</h3>
    </div>
{% endif %}

<div class="gear-pic-div">
    <img src="{{ gear.img_url }}" class="gear-img rounded mb-2">
</div>
<div class="container-fluid">
    <h2>{{ gear.name.title() }}</h2>
    <div class="row mt-3">
        <div class="col-sm-4 align-right">
            <h5>Rating: {{ gear.rating }}/10</h5>
        </div>
        <div class="col-sm-4">
            <h5>Category: {{ gear.category }}</h5>
        </div>
    </div>
    <div class="mt-5">
            {{ gear.description|safe }}
    </div>
    <div class="mt-3 d-flex justify-content-around">
    {% for company in info %}
        {% if info[company]["price"] != "" %}
            <span>
                {{ company }}:
            </span>
        {% endif %}
    {% endfor %}
    </div>
    <div class="d-flex justify-content-around">
    {% for company in info %}
        {% if info[company]["price"] != "" %}
            <span>
                <a class="btn user-button" href="{{ info[company]['link'] }}" target="_blank">
                    ${{ info[company]["price"] }}
                </a>
            </span>
        {% endif %}

    {% endfor %}
</div>
    {% if current_user.is_admin %}
    <div class="container mb-3 mt-3 text-center">
        <a class="btn admin-button" href="{{ url_for('admin_bp.edit_gear', gear_id=gear.id) }}">
            Admin: Edit gear description!
        </a>
    </div>
    {% endif %}
</div>

<!-------------Comments-------------->
<div class="container-fluid">
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='comment_text') }}
    {# wtf.quick_form(form, novalidate=True, button_map={"submit_button": "primary"}) #}
    <form method="POST" action="{{ url_for('gear_bp.view_gear', db_id=gear.id) }}">
        {{ form.csrf_token }}
        {{ form.comment_text.label }}
        {{ form.comment_text }}
        <input class="btn user-button" type="submit" value="Submit">
    </form>

    <div class="col-lg-8 col-md-10 mx-auto comment mt-4">
        <ul>
            {% for comment in gear.gear_comments %}
            <li>
                <div>
                    <img src="{{ comment.commenter.email | gravatar }}">
                </div>
                <div>
                    {% if comment.deleted_by %}
                        <p>This comment has been deleted by {{ comment.deleted_by }}</p>
                    {% else %}
                        {{ comment.text|safe }}
                    {% endif %}
                </div>
                <span>
                    {% if current_user.username_approved %}
                    -{{ comment.commenter.username }}
                    {% else %}
                    -temp_user_{{ current_user.id }}
                    {% endif %}
                </span>
                <div>
                    {% if comment.commenter_id == current_user.id and not comment.deleted_by %}
                    <span>
                        <a
                            class="btn btn-danger mt-3"
                            href="{{ url_for('gear_bp.edit_gear_comment', comment_id=comment.id, gear_id=gear.id) }}">
                                Edit Post
                        </a>
                    </span>
                    <span>
                        <a
                            class="btn btn-danger mt-3"
                            href="{{ url_for('gear_bp.user_delete_gear_comment', comment_id=comment.id, gear_id=gear.id) }}">
                                Delete Post
                        </a>
                    </span>
                    {% endif %}
                    {% if current_user.is_admin and not comment.deleted_by %}
                    <span>
                        <a
                            class="btn btn-danger mt-3"
                            href="{{ url_for(
                            'gear_bp.admin_delete_gear_comment',
                            comment_id=comment.id,
                            admin_id=current_user.id,
                            gear_id=gear.id) }}">
                                Admin Delete
                        </a>
                    </span>
                    {% endif %}
                </div>
                <hr>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
