{% extends 'layout.html' %}}

{% block content %}
<h2 class="pt-5 pb-1 section-font-one text-center">Gear</h2>

<div class="listing-wrapper">
    <ul class="list-unstyled">
        {% for gear in all_gear %}
            <li class="listing">
                <div class="listing-border">
                    <a href="{{ url_for('gear_bp.view_gear', db_id=gear.id) }}">
                        <h4 class="listing-name">{{gear.name}}</h4>
                    </a>
                    <div class="listing-pic-and-data">
                        <div class="listing-pic-container">
                            <a href="{{ url_for('gear_bp.view_gear', db_id=gear.id) }}">
                                <img class="gear-list-img listing-img" src="{{ gear.img  }}">
                            </a>
                        </div>
                        <a class="no-underline listing-link" href="{{ url_for('gear_bp.view_gear', db_id=gear.id) }}">
                            <div class="listing-data-and-description">
                                <div class="listing-data">
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Rating:</h5>
                                        <h5 class="listing-info">{{gear.rating}}/10</h5>
                                    </div>
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Weight:</h5>
                                        <h5 class="listing-info">{{gear.weight}}</h5>
                                    </div>
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Dimensions:</h5>
                                        <h5 class="listing-info">{{gear.dimensions}}</h5>
                                    </div>
                                </div>
                                <div class="listing-description">
                                    {% if gear.description|length > 99 %}
                                    <p class="mt-3 listing-description-text">{{ gear.description[:100] }}...</p>
                                    {% else %}
                                    <p class="mt-3 listing-description-text">{{ gear.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="bad-search-info">
        <p class="bold-body-font">If you don't see what you're looking for, check the spelling of everything in the search field and maybe try a different keyword. It's also possible we haven't entered this piece of gear in our data base. If you think there's something we should include, <span><a class="inline-link" href="{{ url_for('contact_bp.contact') }}">let us know!</a></span></p>
    </div>
</div>
{% endblock %}}