{% extends 'layout.html' %}}

{% block content %}
<h2 class="pt-5 pb-1 section-font-one text-center">Trails</h2>

<div class="listing-wrapper">
    <ul class="list-unstyled">
        {% for trail in all_trails %}
            <li class="listing">
                <div class="listing-border">
                    <a href="{{ url_for('trail_bp.view_trail', db_id=trail.id) }}">
                        <h4 class="listing-name">{{trail.name}}</h4>
                    </a>
                    <div class="listing-pic-and-data">
                        <div class="listing-pic-container">
                            <a href="{{ url_for('trail_bp.view_trail', db_id=trail.id) }}">
                                <img class="trail-list-img listing-img" src="{{ url_for('trail_bp.display_trail_pics', file_name=trail.trail_page_pics[0].img)  }}">
                            </a>
                        </div>
                        <a class="no-underline listing-link" href="{{ url_for('trail_bp.view_trail', db_id=trail.id) }}">
                            <div class="listing-data-and-description">
                                <div class="listing-data">
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Difficulty:</h5>
                                        <h5 class="listing-info">{{trail.difficulty}}</h5>
                                    </div>
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Distance:</h5>
                                        <h5 class="listing-info">{{trail.hiking_dist}} mi.</h5>
                                    </div>
                                    <div class="listing-pair">
                                        <h5 class="listing-info">Elevation Change:</h5>
                                        <h5 class="listing-info">{{trail.elev_change}} ft.</h5>
                                    </div>
                                </div>
                                <div class="listing-description">
                                    {% if trail.description|length > 99 %}
                                    <p class="mt-3 listing-description-text">{{ trail.description[:100] }}...</p>
                                    {% else %}
                                    <p class="mt-3 listing-description-text">{{ trail.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}}