{% extends 'layout.html' %}}

{% block content %}
<div class="mt-5">
    {% if user.is_admin %}
        <a class="btn background-color-two site-color-one" href="{{ url_for('admin_bp.add_admin') }}">
            Add new admin
        </a>
        <a class="btn background-color-two site-color-one" href="{{ url_for('admin_bp.add_gear') }}">
            Add new gear review
        </a>
        <a class="btn background-color-two site-color-one" href="{{ url_for('admin_bp.add_trail') }}">
            Add a new trail
        </a>
        <a class="btn background-color-two site-color-one" href="{{ url_for('admin_bp.dead_links') }}">
            Dead links
        </a>
    {% endif %}
</div>

<div class="container text-center mt-5">
    <h2>Unvetted Pics</h2>

        {% if pics_by_day == [] %}
            <div class="text-center">
                <h5 class="mt-3">No submitted photos to approve</h5>
            </div>
        {% else %}
            {% for date in pics_by_day %}
                <a href="{{ url_for('admin_bp.submitted_trail_pics', date=date) }}" ><h4>{{ date }}</h4></a>
            {% endfor %}
        {% endif %}

    <div class="mt-5">
        <h2>Unapproved New Usernames</h2>
        {% if new_users == [] %}
            <div class="text-center">
                <h5 class="mt-3">No new usernames to approve</h5>
            </div>
        {% else %}
        <ul class="unstyled">
            {% for user in new_users %}
                <li class="mt-2">
                    <span>{{ user.username }}   </span>
                    <span><a class="btn btn-success" href="{{ url_for('admin_bp.approve_username', user_id=user.id) }}">
                        Approve
                    </a></span>
                    <span><a class="btn btn-danger" href="{{ url_for('admin_bp.reject_username', user_id=user.id) }}">
                        Reject
                    </a></span>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>
{% endblock %}}