{% extends 'layout.html' %}

{% block content %}
<div class="admin-body">
    {% if is_empty %}
    <h5 class="admin-section-title">No submitted photos remaining in this directory</h5>
    <a class="btn admin-button mt-5" href="{{ url_for('admin_bp.admin_dashboard') }}">Return to admin dashboard</a>
    {% else %}
    {% for directory in user_trail_directories %}
        {% if photos[directory] != [] %}
        <h5 class="admin-title">{{ directory }}</h5>
        <ul class="list-unstyled">
            {% for photo in photos[directory] %}
                <li class="submitted-pic-list-entry">
                    <h5 class="admin-section-title">Submission {{ photos[directory].index(photo) + 1 }}</h5>
                    <div class="submitted-pic-container">
                        <img src="{{ url_for('admin_bp.static_submitted_trail_pic',
                        date=date, user_trail=directory, pic=photo) }}"
                             alt="{{ photo }}" class="submitted-pic">
                    </div>
                    <div class="submit-buttons">
                        <a href="{{ url_for('admin_bp.approve_submitted_trail_pic',
                        date=date, user_trail=directory, photo=photo) }}"
                           class="btn user-button btn-lg">
                            Post
                        </a>

                        <div class="dropdown">
                            <a class="btn user-button btn-lg dropdown-toggle"
                               role="button"
                               id="savePhotoDropdown"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               href="#">
                                Save
                            </a>
                            <div class="dropdown-menu" aria-labelledby="savePhotoDropdown">
                                <h6 class="dropdown-header save-delete-text-header">
                                    Choose a reason:
                                </h6>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.save_for_appeal', date=date, user_trail=directory, pic=photo, reason='wrong') }}">
                                    Wrong trail
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.save_for_appeal', date=date, user_trail=directory, pic=photo, reason='bad') }}">
                                    Bad quality
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.save_for_appeal', date=date, user_trail=directory, pic=photo, reason='graphic') }}">
                                    Graphic imagery
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.save_for_appeal', date=date, user_trail=directory, pic=photo, reason='other') }}">
                                    Other
                                </a>
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="btn admin-button btn-lg dropdown-toggle"
                               role="button"
                               id="deletePhotoDropdown"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               href="#">
                                Delete
                            </a>
                            <div class="dropdown-menu" aria-labelledby="deletePhotoDropdown">
                                <h6 class="dropdown-header save-delete-text-header">
                                    Choose a reason:
                                </h6>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.delete_submitted_photo', date=date, user_trail=directory, pic=photo, reason='wrong') }}">
                                    Wrong trail
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.delete_submitted_photo', date=date, user_trail=directory, pic=photo, reason='bad') }}">
                                    Bad quality
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.delete_submitted_photo', date=date, user_trail=directory, pic=photo, reason='graphic') }}">
                                    Graphic imagery
                                </a>
                                <a class="dropdown-item admin-text" href="{{ url_for('admin_bp.delete_submitted_photo', date=date, user_trail=directory, pic=photo, reason='other') }}">
                                    Other
                                </a>
                            </div>
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}