{% extends 'layout.html' %}}

{% block content %}
<div class="admin-body">
    <h3 class="admin-title">Dead links</h3>
    {% for link in links %}
        {% for info in link %}
        <div class="dead-link-info">
            <div class="dead-link-left">
                <span class="dead-link-item-name">{{ info }}:</span>
                <a class="admin-link-text" href="{{  link[info][1]  }}" target="_blank">{{ link[info][0] }}</a>
            </div>
            <div class="dead-link-right">
                <a class="btn btn-sm user-button" href="#">Edit Link</a>
                <a class="btn btn-sm admin-button" href="{{ url_for('admin_bp.mark_out_of_stock', gear_name=info, site=link[info][0]) }}">Mark Out of Stock</a>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}