{% extends 'layout.html' %}}

{% block content %}
<h2 class="pt-5 pb-1 section-font-one text-center">Search Results</h2>
<form method="POST" action="{{ url_for('search_bp.search') }}" class="search-form" >
    {{ form.hidden_tag() }}
    <input class="search-field" type="search" placeholder="{{searched}}" name="searched">
    <input type="submit" name="submit" class="btn search_submit user-button" value="Search">
</form>
{% if not final_results %}
<h5 class="no-results-font">No results found.</h5>
{% else %}
<div class="listing-wrapper">
    <ul class="list-unstyled">
    {% for result in final_results %}
        {% if result.gear_trail == "Trail" %}
        <li class="listing">
            <div class="listing-border">
                <a href="{{ url_for('trail_bp.view_trail', db_id=result.id) }}">
                    <h4 class="listing-name">{{result.name}}</h4>
                </a>
                <div class="search-listing-container">
                    <a class="no-underline listing-link" href="{{ url_for('trail_bp.view_trail', db_id=result.id) }}">
                        <div class="search-description">
                            <p class="mt-3 listing-description-text">{{ result.description[:200] }}...</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% else %}
        <li class="listing">
            <div class="listing-border">
                <a href="{{ url_for('gear_bp.view_gear', db_id=result.id) }}">
                    <h4 class="listing-name">{{result.name}}</h4>
                </a>
                <div class="search-listing-container">
                    <a class="no-underline listing-link" href="{{ url_for('gear_bp.view_gear', db_id=result.id) }}">
                        <div class="search-description">
                            <p class="mt-3 listing-description-text">{{ result.description[:200] }}...</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    <div class="bad-search-info">
        <p class="bold-body-font">If you don't see what you're looking for, check the spelling of everything in the search field and maybe try a different keyword. It's also possible we haven't entered whatever you're searching for in our database. If you think we're missing something, <span><a class="inline-link" href="{{ url_for('contact_bp.contact') }}">let us know!</a></span></p>
    </div>
</div>
{% endif %}
{% endblock %}}