{% include "header.html" %}

<div class="container-fluid text-center">
    <img src="{{ trail.img_url }}" class="img-fluid rounded img-size mb-2">
    <h2>{{ trail.name.title() }}</h2>
    <div class="row mt-3">
        <div class="col-sm-4 align-right">
            <h5>Length: {{ trail.hiking_dist }} miles</h5>
        </div>
        <div class="col-sm-4">
            <h5>Elevation Gain: {{ trail.elev_change }} feet</h5>
        </div>
        <div class="col-sm-4 align-left">
            <a href="http://www.google.com/maps/place/{{ trail.latitude }},{{ trail.longitude }}" target="_blank"><h5>Directions to the Trail Head</h5></a>
        </div>
    </div>
    <div>
            {{ trail.description|safe }}
    </div>
</div>


{% include "footer.html" %}