{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<h2>Add Admin</h2>
<p>Enter the username of the user to be given admin status:</p>
{{ wtf.quick_form(form, novalidate=True, button_map={"submit_button": "success"}) }}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% include "footer.html" %}
{% endblock %}