{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<div class="container">
    <h2>Forgot Password?</h2>
    <p>Enter your username and a confirmation email will be sent to you allowing you to reset your password.</p>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit_button": "success"}) }}
    <p class="mt-3">
        If you've forgotten your username,
        <a href="{{ url_for('contact_bp.username_recovery') }}">click here.
        </a>
    </p>
</div>


{% include "footer.html" %}
{% endblock %}