{% extends 'layout.html' %}

{% block content %}

<div class="container form-page-wrapper">
    <h2 class="mb-4 mt-5 section-font-one">Sign Up</h2>
    <h6 class="body-font mb-3">Sign up to comment, submit trail photos, create a user profile and more!</h6>
    <form class="mb-5" method="POST" action="{{ url_for('auth_bp.sign_up') }}">
        {{ form.csrf_token }}
        <div class="non-bs-form-container">
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.first_name.label }}:</span>
                {{ form.first_name }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.last_name.label }}:</span>
                {{ form.last_name }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.username.label }}:</span>
                {{ form.username }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.email.label }}:</span>
                {{ form.email }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.password.label }}:</span>
                {{ form.password }}
            </div>
            <div class="form-data-pairing">
                <span class="form-font form-label">{{ form.verify_password.label }}:</span>
                {{ form.verify_password }}
            </div>
        </div>
        <input class="btn btn-sm user-button username-button" type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger"><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}